* {
    margin: 0px;
    padding: 0px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@700&display=swap');

body  {
    background-color: #283618;
    font-family: 'Ysabeau SC', sans-serif;
}

footer {
    font-family: 'Ysabeau SC', sans-serif;
    background-color: #fefae0;
    color: fefae0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

h2 {
    color: #fefae0;
    position: absolute;
    left: 200px;
    top: 390px;
    font-size: 50px;
}

.ibotao{
    position: absolute;
    left: 200px;
    top: 550px;
    font-family: 'Ysabeau SC', sans-serif;
    width: 250px;
    height: 50px;
    border-radius: 10px; 
    box-shadow: none;
    background-color: #0076FF;
    color: white;
    box-shadow: 1px 1px 10px black;

}

img {
    top: 90px;
    left: 980px;
    position: absolute;
    width: 700px;
}

.discord_Logo {
    position: absolute;
    width: 30px;
    left: 210px;
    top: 562px;
}
 

nav {
    text-align: right;
    
}
a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
